<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="#" target="_blank">
                Privacy Policy
            </a>
            <a href="#" target="_blank">
                Terms of Service
            </a>
            <a href="#" target="_blank">
                FAQ
            </a>
        </div>
        <div class="footer-text">            
             <span>&copy; 2021 ShopEase. All rights reserved.</span>
        </div>
    </div>
</footer>